<table mat-table class="mat-elevation-z8" [dataSource]="interventions">

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div style="width:15px;height:15px;margin-right:5px;background-color:#b80600;border-radius: 50px"
           *ngIf="intervention.status.name === 'Ouverte'"></div>
      <div style="width:15px;height:15px;margin-right:5px;background-color:#ffdd1b;border-radius: 50px"
           *ngIf="intervention.status.name === 'Terminée'"></div>
      <div style="width:15px;height:15px;margin-right:5px;background-color:#ea9150;border-radius: 50px"
           *ngIf="intervention.status.name === 'Facturée'"></div>
      <div style="width:15px;height:15px;margin-right:5px;background-color:#00c608;border-radius: 50px"
           *ngIf="intervention.status.name === 'Réglée'"></div>

      {{intervention.status.name}}</mat-cell>
  </ng-container>


  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div style="width:120px;word-wrap:break-word">
        {{intervention.title}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Client Column -->
  <ng-container matColumnDef="client">
    <mat-header-cell *matHeaderCellDef>Client</mat-header-cell>
    <mat-cell *matCellDef="let intervention">{{intervention.client.name}} {{intervention.client.lastname}}</mat-cell>
  </ng-container>

  <!-- User Column -->
  <ng-container matColumnDef="user">
    <mat-header-cell *matHeaderCellDef>Intervenant</mat-header-cell>
    <mat-cell *matCellDef="let intervention">{{intervention.user_id}}</mat-cell>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div style="width:500px;word-wrap:break-word;padding-right:5px">
        {{intervention.description}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef>Addresse</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div *ngIf="intervention.address">
        <span *ngIf="intervention.address.address">{{intervention.address.address}} </span>
        <span *ngIf="intervention.address.zipCode">{{intervention.address.zipCode}} </span>
        <span *ngIf="intervention.address.city">{{intervention.address.city}}</span>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Km Column -->
  <ng-container matColumnDef="km">
    <mat-header-cell *matHeaderCellDef>Km</mat-header-cell>
    <mat-cell *matCellDef="let intervention">{{intervention.km}}</mat-cell>
  </ng-container>

  <!-- Periods Column -->
  <ng-container matColumnDef="periods">
    <mat-header-cell *matHeaderCellDef>Périodes</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <mat-form-field>
        <mat-label>{{intervention.periods[0].date | date: 'dd/MM/yyyy'}}</mat-label>
        <mat-select>
          <mat-option *ngFor="let period of intervention.periods">
            <span *ngIf="period.date">{{period.date | date:'dd/MM/yyyy'}}  -   </span>
            <span *ngIf="period.start">{{period.start | date: 'HH:mm'}} -> </span>
            <span *ngIf="period.end">{{period.end | date: 'HH:mm'}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <!-- Bill Number Column -->
  <ng-container matColumnDef="billNumber">
    <mat-header-cell *matHeaderCellDef>Numéro de facture</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div style="width:150px;word-wrap:break-word">
        {{intervention.billNumber}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Bill Date Column -->
  <ng-container matColumnDef="billDate">
    <mat-header-cell *matHeaderCellDef>Date de facturation</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div *ngIf="intervention.billDate !== '0001-01-01T00:00:00Z'">{{intervention.billDate | date:'dd/MM/yyyy'}}</div>
    </mat-cell>
  </ng-container>

  <!-- Payment Type Column -->
  <ng-container matColumnDef="paymentType">
    <mat-header-cell *matHeaderCellDef>Type de paiement</mat-header-cell>
    <mat-cell *matCellDef="let intervention">{{intervention.paymentType}}</mat-cell>
  </ng-container>

  <!-- Payment Date Column -->
  <ng-container matColumnDef="paymentDate">
    <mat-header-cell *matHeaderCellDef>Date de paiement</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div
        *ngIf="intervention.paymentDate !== '0001-01-01T00:00:00Z'">{{intervention.paymentDate | date:'dd/MM/yyyy'}}</div>
    </mat-cell>
  </ng-container>

  <!-- Deleted Column -->
  <ng-container matColumnDef="deleted">
    <mat-header-cell *matHeaderCellDef>Supprimé</mat-header-cell>
    <mat-cell *matCellDef="let intervention"> {{intervention.deleted}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div style="width:150px;word-wrap:break-word">
        {{intervention.id}}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let intervention">
      <div class="example-button-container">
        <button mat-icon-button color="warn" style="margin-left: 40px" (click)="openDialog(intervention.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
</table>

